@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Kesalahan !";
}

<hgroup>
    <h1 class="text-error">Ada Kesalahan.</h1>
    <h2 class="text-error">Maaf, Sistem Tidak Berjalan Karena Ada Kesalahan.</h2>
</hgroup>
