@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Terkunci !";
}

<hgroup>
    <h1 class="text-error">Akun Terkunci !</h1>
    <h2 class="text-error">Akun Ini Dikunci Secara Auto Oleh Sistem, Silahkan Hubungi Administrator.</h2>
</hgroup>
