@model OpenOrderFramework.Models.ApplicationUser

@{
    ViewBag.Title = "Profil Pengguna";
}

<h2>Profil Pengguna</h2>

<div>
    <h4>Pengguna</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UserName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>
    </dl>
</div>
<h4>Hak Akses Pengguna</h4>
@if (ViewBag.RoleNames.Count == 0)
{
    <hr />
    <p>Pengguna ini tidak punya hak akses !</p>
}

<table class="table">

    @foreach (var item in ViewBag.RoleNames)
    {
        <tr>
            <td>
                @item
            </td>
        </tr>
    }
</table>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>



