@{
    ViewBag.Title = "Forgot Password Confirmation";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        Silahkan cek email untuk mereset password anda !
    </p>
    <p class="text-danger">
        Anda dapat mengunjungi link reset password : <a href="@ViewBag.Link">Reset Password</a>
    </p>
</div>

