@{
    ViewBag.Title = "Tentang Kami";
}
<hgroup>
    <h2>BITS Shop - Online Food Shop</h2>
    <h3>@ViewBag.Title</h3>
</hgroup>
<div class="row-fluid">
    <div class="span12">
        <p>BITS Shop Merupakan Online Food Shop Pertama Di Banten Dengan Menggunakan Sistem Delivery Order Via Web.</p>
    </div>
</div>