@{
    ViewBag.Title = "Hubungi Kami";
}
<hgroup>
    <h2>@ViewBag.Title</h2>
    <h3>Silahkan Hubungi Kami !</h3>
</hgroup>
<div>
    <address>
        Serang Trade Center CC 15<br />
        Serang, Banten 42162<br />
        <abbr title="Telphone">Telp :</abbr>
        +62 819 678 048
    </address>

    <address>
        <i class="icon-envelope"></i><strong>Support :</strong>   <a href="mailto:support@bits.co.id">support@bits.co.id</a><br />
        <i class="icon-envelope"></i><strong>Marketing :</strong> <a href="mailto:sales@bits.co.id">sales@bits.co.id</a>
    </address>
</div>