@{
    ViewBag.Title = "BITS Shop";
}

<div class="jumbotron">
    <h1>Selamat Datang Di BITS Shop !</h1>
    <p class="lead">Silahkan berbelanja makanan dan minuman di BITS Shop sekarang juga !</p>
    <p><button type="button" class="btn btn-primary btn-large" onclick="location.href='@Url.Action("Index", "Items")'">Pesan Makanan &amp; Minuman &raquo;</button></p>
</div>

<div class="row">
    <div class="col-md-4">
       
    </div>
    <div class="col-md-4">
        
    </div>
    <div class="col-md-4">
        
    </div>
    <div class="col-md-4">

    </div>
    <div class="col-md-4">
        
    </div>
    <div class="col-md-4">
        
    </div>
    <div class="col-md-4">
       
    </div>
    <div class="col-md-4">
        
    </div>



</div>